<header class="container-full">

  <div class="container">


    <div class="left">
      <a href="#">
        <img src="../../assets/images/logo.jpg" /> GROUP PORTAL
      </a>
    </div>

    <nav class="right">
      <ul class="inline-list">
        <li>
          <a href="#">
            <i class="fa fa-search"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-question-circle"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
          </a>
        </li>
      </ul>
    </nav>


  </div>



</header>