<div class="table-menu-container">

  <div class="table-header">
    <img class="circle" alt="user" src="../../assets/images/user.jpg" />
    <i class="fa fa-bars"></i>
  </div>

  <ul class="table-menu">
    <li>
      <img src="../../assets/images/menu_inbox.png" />
      <a href="#">Inbox</a>
    </li>
    <li>
      <img src="../../assets/images/menu_contact.png" />
      <a href="#">Contact</a>
    </li>
    <li>
      <img src="../../assets/images/menu_nomination.png" />
      <a class="active" href="#">Nomination</a>
    </li>
    <li>
      <img src="../../assets/images/menu_allocation.png" />
      <a href="#">Allocation</a>
    </li>
    <li>
      <img src="../../assets/images/menu_allocation2.png" />
      <a href="#">Allocation</a>
    </li>
    <li>
      <img src="../../assets/images/menu_uplift.png" />
      <a href="#">Uplift Programe</a>
    </li>
  </ul>

</div>


