$main-color: #588e90;
$gray-dark: #d6d6d8;
$gray-light: #eff0f2;
$border-color: rgb(177, 177, 177);
$gray: #888888;

$table-header-height: 36px;










$blue: #def0f3;
$gradient-light: #51a6ae;
$gradient-dark: #274e7a;
$green: #32753b;
$red: #bd3027;


$padding: 1em;
$max-width: 1280px;
$mobile: 720px;


